<section id="works">
  <div class="works-grid">
    <div class="works_intro">
      <div class="highlights">
        Some of my
        <div class="tilt">
          <span>w</span>
          <span>o</span>
          <span>r</span>
          <span>k</span>
          <span>s</span>
        </div>
      </div>
    </div>
    <div class="project-cards">
      <div class="card1">
        <div class="card-content">
          <h4>SmartDeck Mock Up</h4>
          <p>The SmartDeck is a mock-up design for our Applications Development and Emerging Technologies subject. It is intended for the students to review their lessons in a smart way. One of the features is to allows users to create their agenda and reminds them of important dates and times so they can stay on track. As well as build their own quizzes and navigate the already created quizzes.</p>
          <hr><span>Figma, Illustrator</span>
        </div>
      </div>
      <div class="card2">
        <div class="card-content">
          <h4>School of Computing Login Form</h4>
          <p>This is a HAU-SOC login form mobile app for our Applications Development and Emerging Technologies subject using Flutter and Dart.</p>
          <hr><span>Flutter/Dart</span>
        </div>
      </div>
      <div class="card3">
        <div class="card-content">
          <h4>IMDB Mock Up</h4>
          <p>This is a mock-up project submitted in a partial fulfilment of the course requirements in Human and Computer Interaction (HCI). This prototype project was redesigned in lieu of previous IMDb mobile movie app to further imply our understanding in designing interfaces.</p>
          <hr><span>Adobe XD, Photoshop, Illustrator</span>
        </div>
      </div>
    </div>
  </div>
  <div class="works-grid">
    <div class="vertical-project-cards">
      <div class="card4">
        <div class="card-content">
          <h4>Logistics and Trucking</h4>
          <p>LNT is a logistics and transportation mock-up design. Wherein it shows the different services and industry sectors coverage of the company.  </p>
          <hr><span>Canva, Figma</span>
        </div>
      </div>
      <div class="card5">
        <div class="card-content">
          <h4>Veritru</h4>
          <p>The VeritTru advocacy's major purpose is to stay close to the truth and prevent anything tainted by fake news or even dubious sourcing. We provide an online platform where users can submit data for analysis to determine its legitimacy, authenticity, and truthfulness.</p>
          <hr><span>AngularJS CRUD, RestAPI</span>
        </div>
      </div>
      <div class="card6">
        <div class="card-content">
          <h4>Startup</h4>
          <p>Start Up is a mock-up website designed in May 2021 as part of our Webserver and Client Services subject's final project. Its objective is to demonstrate our abilities as future web developers in catering clients and delivering user experiences that would satisfy their expectations.</p>
          <hr><span>VueJS, MEVN Stack</span>
        </div>
      </div>
      <div class="card7">
        <div class="card-content">
          <h4>La Calle Cafe</h4>
          <p>La Calle Café is a specialty coffee store for coffee lovers. The website is intended to aid customers in learning about La Calle Café's background, and the types of pastries and beverages they offer. Moreover, it was created to host content that would educate visitors about various coffee-related articles.</p>
          <hr><span>Wordpress, SEO</span>
        </div>
      </div>
    </div>
  </div>
</section>


